a{
color:white;
padding:5px;
}
header{
border:20px solid black;
background:black;
}
footer p{
color: white;
}
footer{
background: black;
}
td{
padding:5px;
border: 3px solid black;
}
table{
border-collapse: collapse;
}
.pol{
background:white;
border 2px sold white;
}
h2{
text-align: center;
}
.box {
display: flex;
justify-content:space-around;
background:white;
}
img{
padding: 15px;
width:60px;
}
.aboba{
width:350px;
}
.ram{
border: 2px solid black;
padding: 10px;
}
.podr{
border: 2px solid black;
border-radius: 6px;
margin: 2px;
}
